* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.pokemon, #loadMoreButton {
  cursor: pointer;
  transition: 0.3s;
}
.pokemon:hover, #loadMoreButton:hover {
  transform: scale(1.05);
}

body {
  background-color: hsl(0, 0%, 87%);
}

.content {
  background-color: white;
  height: 100vh;
  width: auto;
}

h1 {
  margin: 0;
  padding: 0;
}

.title {
  margin: 3rem 0 .7rem 1.6rem;
  padding: 0;
}


@media screen and (min-width: 992px){
  .content {
    max-width: 992px;
    height: auto;
    border-radius: 1rem;
    margin: 1rem auto;
  }
}
